[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/home/jappie/bin/emacs-deamon.sh
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
TimeoutStopSec=5
Restart=always

[Install]
WantedBy=default.target
