[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jappie/Desktop/Old Firefox Data]
row=3
col=0

[/home/jappie/Desktop/Home.desktop]
row=6
col=0

[/home/jappie/Desktop/Axure RP Pro 7.0.lnk]
row=7
col=0

[/home/jappie/Desktop/IJs en Vuur 6]
row=5
col=0

[/home/jappie/Desktop/netbeans-8.0.2.desktop]
row=4
col=0

[/home/jappie/Desktop/Axure RP Pro 7.0.desktop]
row=8
col=0

[/home/jappie/Desktop/steam.desktop]
row=9
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/jappie]
row=2
col=0

