[push]
	default = simple
[user]
	email = jappieklooster@hotmail.com
	name = Jappie Klooster
	signingkey = 326504E64551A7FBD430E278FDA7B87746B63326
[color]
	ui = true
[alias]
	lol = log --oneline --graph --decorate
	st = status
	co = commit
	co = commit
	cm = commit
[merge]
	tool = ediff
[mergetool "ediff"]
	cmd = emacsclient -c --eval \"(git-mergetool-emacsclient-ediff \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" \\\"$MERGED\\\")\"
	trustExitCode = true
	keepBackup = false
[core]
	autocrlf = input
[commit]
	#gpgsign = true
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	patterns = [1-9][0-9]+-[0-9a-zA-Z]{40}
	patterns = EAACEdEose0cBA[0-9A-Za-z]+
	patterns = AIza[0-9A-Za-z\\-_]{35}
	patterns = sk_live_[0-9a-z]{32}
	patterns = sk_live_[0-9a-zA-Z]{24}
	patterns = q0csp-[0-9A-Za-z\\-_]{43}
	patterns = q0atp-[0-9A-Za-z\\-_]{22}
	patterns = sq0csp-[0-9A-Za-z\\-_]{43}
	patterns = access_token\\$production\\$[0-9a-z]{16}\\$[0-9a-f]{32}
	patterns = SK[0-9a-fA-F]{32}
	patterns = key-[0-9a-zA-Z]{32}
	patterns = [0-9a-f]{32}-us[0-9]{1,2}
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templateDir = /home/jappie/.git-templates/git-secrets
